@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #000211), color-stop(0.72, #000211), color-stop(0.86, #000211));
}

.mowtainer {
    width: 1200px;
    margin: 0 auto;
}

.mowtain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.mowpad {
    padding: 60px 0;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #37ffac;
}

.justify-center {
    justify-content: center;
}

main {
    min-height: calc(100vh - 250px);
}


/* header_______________________________________________________________________________________________ */
header {
    z-index: 999;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
}

header .head>div {
    height: 80px;
}

.logo img {
    height: 25px;
    cursor: pointer;
}

/* .router-link-exact-active {
    color: #f8bf2f;
} */

header .menu .menu-item {
    margin-right: 40px;
    transition: all 200ms ease;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    letter-spacing: 1px;
}

.margin-all {
    margin: 100px 0;
}

h1.title {
    font-weight: 700;
    letter-spacing: 1px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 48px;
}

header .menu .menu-item i {
    margin-left: 8px;
    margin-top: 5px;
    opacity: 0.6;
}

header .main-menu {
    position: relative;
    display: flex;
    align-items: center;
}

header .menu {
    display: flex;
    justify-content: center;
}

.menu-item:hover .child {
    height: max-content;
}

.menu-item .child {
    position: absolute;
    top: 100%;
    left: 0;
    background: #000211;
    z-index: 999;
    box-shadow: 0px 0px 30px #ffffff20;
    color: #37ffac;
    height: 0;
    width: max-content;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding: 0 15px;
}

.menu-item .child a {
    color: #37ffac;
}

.menu-item .child-item {
    padding: 10px;
    transition: all 200ms;
    border-radius: 8px;
    display: block;
    text-transform: none;
}

.menu-item .child-item:first-child {
    margin-top: 15px;
}

.menu-item .child-item:last-child {
    margin-bottom: 15px;
}

.menu-item .child-item:hover {
    background: #ffffff30;
}

.mobile-menu {
    width: 300px;
    position: fixed;
    top: 0;
    margin: auto 0;
    left: -80%;
    z-index: 999;
    transition: all 300ms ease;
    background: #fff;
    background-size: cover;
    height: 100vh;
    padding-top: 30px;
    height: 100vh;
}


.mobile-menu span {
    display: block;
    font-size: 16px;
    padding: 8px 0;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    color: #37ffac !important;
}

.mobile-menu i {
    margin-right: 5px;
}

.mobile-menu .child-item {
    margin-left: 38px;
    margin-bottom: 5px;
    font-weight: 600;
    display: block;
    color: #1E2329;
}

.menu-bar {
    height: 3px;
    width: 25px;
    background: #37ffac;
    position: relative;
    transition: all 200ms ease;
    display: none;
}

.menu-bar::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    top: 7px;
    left: 0;
    background: #37ffac;
    transition: all 200ms ease;
}

.menu-bar::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    bottom: 7px;
    left: 0;
    background: #37ffac;
    transition: all 200ms ease;
}

#menu:checked+.menu-bar::before {
    transform: rotate(90deg);
    top: 0;
}

#menu:checked+.menu-bar {
    transform: rotate(-45deg);
}

#menu:checked+.menu-bar::after {
    display: none;
}

#menu:checked~.mobile-menu {
    left: 0;
}

.relative {
    position: relative;
    z-index: 2;
}

.language {
    margin-left: 20px;
}

.language button {
    background: #f8bf2f !important;
    border: none;
    font-size: 14px;
    color: #111 !important;
    font-weight: 500;
    transition: all 200ms;
    display: flex;
    align-items: center;
    height: 36px;
    box-shadow: none !important;
}

.language button:hover {
    opacity: 0.8;
}


.language .dropdown-menu {
    background: #1a1a1a;
    border: none;
    top: 5px !important;
    min-width: 100%;
}

.language .dropdown-item {
    color: #fff;
    display: flex;
    align-items: center;
    background: none;
    font-size: 14px;
}

.language .dropdown-item:hover {
    background: #ffffff10 !important;
}

.language img {
    width: 20px;
}

/* kyc__________________________________________________________________________________________________ */

.camera {
    position: relative !important;
    height: 600px !important;
}

.fullscreen-camera,
.camera-stack-controls {
    position: absolute !important;
}

.fullscreen-camera .camera-stack .camera-stack-header a.close-button {
    display: none !important;
}

.paddin {
    padding: 20px;
}

.kyc {
    display: none;
}

.kyc h3 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 160px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 50px;
    transition: all 200ms;
    font-size: 14px;
    color: #000;
}

.btn-all.outline span {
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background: #0c1928;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
}

header .menu .menu-item:hover {
    color: #37ffac !important;
}

.text-gradient {
    background: linear-gradient(150deg, #37ffac, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.router-link-exact-active {
    color: #37ffac !important;
}

.btn-all.outline {
    background: linear-gradient(150deg, #37ffac, #0099ff);
    position: relative;
    z-index: 1;
}

.btn-all.outline:hover {
    color: #37ffac;
}

.btn-all.disabled {
    pointer-events: none;
    background: #ffffff30;
    border: 1px solid #ffffff30;
    color: #ddd !important;
}

.pc {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.noti {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noti img {
    width: 100%;
}

.noti p {
    margin-bottom: 50px;
}

header .btn-all {
    height: 38px;
    width: 120px;
}

.shadow {
    background: linear-gradient(150deg, #37ffac, #0099ff);
    position: relative;
    z-index: 1;
}

.shadow::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 95%;
    height: 90%;
    filter: blur(10px);
    background: linear-gradient(150deg, #37ffac, #0099ff);
    z-index: -1;
    opacity: 0.6;
}

.btn-all:hover {
    transform: translateY(-5px);
    color: #000;
}

.mowgrid {
    display: grid;
    grid-gap: 50px
}

.grid-top {
    grid-template-columns: 3.5fr 4fr;
}

.grid-bot {
    grid-template-columns: 4fr 3fr;

}

.item {
    border-radius: 8px;
    box-shadow: 0px 0px 50px #ffffff08;
}

.pd-30 {
    padding: 30px;
}

.guide {
    margin-top: 35px;
}

.tab {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 22px;
    font-weight: 600;
    background: #ffffff30;
    color: #AEB4BC;
    cursor: pointer;
}

.tab.active {
    color: #fff;
    background: #000211;
}

.item.exchange {
    overflow: hidden;
}

label {
    font-size: 14px;
}

.input-box {
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
}

input.exchange-input {
    height: 66px;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 0;
    padding: 12px;
    padding-right: 90px;
    border: 1px solid transparent;
    border-color: #ffffff30;
    border-radius: 4px;
    font-weight: 500;
    transition: all 100ms;
    color: #fff;
}

input.exchange-input:focus {
    border-color: #37ffac;
}

input.exchange-input:hover {
    border-color: #37ffac;
}

.input-box .unit {
    position: absolute;
    top: 10px;
    right: 12px;
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #ffffff30;
    cursor: pointer;
}

.unit .v-input {
    font-size: 14px;
}

.unit .v-select.v-input--dense .v-select__selection--comma {
    margin-right: 0;
}

.unit .v-text-field.v-text-field--enclosed .v-text-field__details,
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
    padding: 0 10px;
    padding-right: 5px;
}

.input-box .unit img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}

.exchange .btn-all {
    width: 100%;
    height: 48px;
    cursor: pointer;
}

.home .btn-all:hover {
    opacity: 0.8;
}

.btn-sell {
    background: #f6465d;
    border-color: #f6465d;
    color: #fff !important;
}

.exchange p {
    font-size: 14px;
    color: #707a8a;
}

.item h2 {
    font-size: 20px;
    color: #37ffac;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.detail-price {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
    margin: 30px 0;
    margin-bottom: 35px;
    text-align: center;
}

.detail-price img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.detail-price h3 {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
}

.detail-price h4 {
    color: #37ffac;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
}

.detail-price h4 b {
    font-weight: 600;
    margin-left: 3px;
}

.detail-price .item {
    padding: 25px 20px;
}

.detail-price span {
    font-weight: 500;
    color: #707A8A;
    font-size: 14px;
}

.detail-price .sell-price {
    color: #f6465d;
}

.currencies {
    margin-top: 35px;
}

#partner {
    padding: 100px 0;
}

#partner .mowgrid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 50px 80px;
}

#partner .image img {
    height: 50px;
    width: 50px;
}

#partner .image {
    display: flex;
    align-items: center;
}

#partner .part img {
    height: auto;
}

#partner .image h3 {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
}

/* news________________________________________________________________________________ */

.news .mowgrid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
}

.news .item {
    box-shadow: 0px 0px 100px #ffffff10;
    border-radius: 8px;
    cursor: pointer;
}

.news .item .image {
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.news .item img {
    width: 100%;
    height: 200px;
    transition: all 200ms;
    object-fit: cover;
}

.news .item:hover img {
    transform: scale(1.1);
}

.news .content {
    padding: 20px 30px;
}

.news .content .space {
    color: #37ffac;
}

.news .content h2 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: left;
    color: #fff;
}

.news .content p {
    font-size: 14px;
    margin-bottom: 0;
}

.news .content p i {
    margin-right: 8px;
}

.news .btn-all {
    margin: 0 auto;
    margin-top: 50px;
}

.news .item.loader {
    height: 260px;
}

@keyframes loader {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.loader {
    animation: loader 1s infinite linear forwards;
    background: linear-gradient(to right, #ffffff10 8%, #ffffff20 18%, #ffffff10 33%);
    background-size: 1000px 104px;
    overflow: hidden;
    height: 30px;
    width: 100%;
}

.blog h1.title {
    margin-bottom: 5px;
}

.blog-head {
    margin-bottom: 60px;
}

.search {
    width: 300px;
    box-shadow: 0px 0px 100px #ffffff10;
    border-radius: 3px;
    border: 1px solid #37ffac;
}

.search-box input {
    height: 35px;
    background: none;
    outline: none;
    border: none;
    padding: 0 10px;
    width: 240px;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    margin-bottom: 0;
    color: #fff;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box {
    width: 100%;
    display: flex;
}

.search-box button {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #37ffac;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 200ms ease;
    border: none;
}

.search-box button:hover {
    opacity: 0.8;
}

.page-link {
    background: none;
    border: 1px solid #37ffac80;
    color: #37ffac;
    box-shadow: none !important;
    font-weight: 600;
}

.page-link:hover {
    background: #37ffac;
    color: #1d1f22;
    border: 1px solid #37ffac80;
}

.page-item.active .page-link {
    color: #1d1f22;
    background: #37ffac;
    border: 1px solid #37ffac80;
}

.page-item.disabled .page-link {
    border: 1px solid #37ffac80;
    background: none;
    color: #37ffac;
    opacity: 0.5;
}

.pagination {
    margin-top: 50px;
}

.search-title {
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.8;
    text-align: center;
}

/* detail______________________________________________________________________________ */
.news .item.special {
    width: 100%;
    display: flex;
    height: 230px;
}

.news .item.special img {
    width: 35%;
}

.news .item.special .content {
    padding: 20px 10px;
    width: 65%;
}

.news .description {
    padding: 10px 20px;
    display: block;
    margin: 10px 0;
}

.news .item.special h2 {
    font-size: 22px;
}

.detail .main-content {
    width: 68%;
}

.detail .main-content h1 {
    margin-bottom: 10px;
    line-height: 38px;
    font-size: 32px;
    font-weight: 500;
}

.detail .feature {
    width: 29%;
    overflow: hidden;
}

.detail .content h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.detail .content h2 {
    font-weight: 600;
}

.main-content .author {
    color: #37ffac;
    font-weight: 500;
    margin-bottom: 30px;
}

.detail .author span {
    margin-right: 20px;
}

.detail .details {
    text-align: justify;
    color: #fff !important;
    padding: 30px;
    box-shadow: 0px 0px 100px #ffffff10;
    border-radius: 8px;
    overflow: hidden;
    min-height: 590px;
}

.detail .details iframe {
    width: 500px;
    height: 300px;
}

.detail .details h2 {
    margin-bottom: 25px;
}

.detail .details p {
    margin-bottom: 10px;
    line-height: 26px;
}

.details p,
.details h1,
.details h2,
.details h3,
.details h4,
.details h5,
.details h6,
.details span,
.details div,
.details strong,
.details b,
.details em,
.details li {
    color: #fff !important;
    background: none !important;
}

.details a {
    color: #37ffac !important;
    background: none !important;
}

.details ul,
.details ol {
    color: #1d1f22 !important;
    background: none !important;
    padding-left: 16px;
}

.detail .details img {
    max-width: 100% !important;
    display: block;
    margin: 20px auto !important;
    background: none !important;
    object-fit: contain;
}

.detail .details td,
.detail .details th {
    padding: 10px;
    width: auto !important;
    border: 1px solid #ffffff30;
}

.detail .feature {
    position: sticky;
    top: 35px;
    padding: 20px;
    box-shadow: 0px 0px 100px #ffffff10;
    border-radius: 12px;
    height: 590px;
}

.detail .feature h1 {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin: 10px 0 20px 0;
    color: #37ffac;
}

.detail .feature .title img {
    height: 30px;
}

.detail .feature>div {
    height: 65px;
    margin-bottom: 20px;
}

.detail .feature>div img {
    width: 30%;
    object-fit: cover;
    height: 60px;
    cursor: pointer;
}

.detail .feature div.title {
    width: 66%;
}

.detail .feature .title h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 100ms ease;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
}

.detail .feature .title h3:hover {
    opacity: 0.8;
}

.detail .feature .title p {
    font-size: 12px;
    font-weight: 500;
    color: #37ffac;
    margin-bottom: 0;
    line-height: 16px;
}

.detail i {
    margin-right: 5px;
}

/* latest-news________________________________________________________________________________________ */

.bgr {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(#00000080, #00000080), url("https://i0.wp.com/www.iedunote.com/img/32700/what-is-the-difference-between-a-crypto-coin-and-tokens.jpg?fit=2000%2C1333&quality=100&ssl=1") center;
    background-size: cover;
    z-index: -999;
}

.latest-news {
    color: #fff;
    background: none;
}

.latest-main {
    border-top: 2px solid #37ffac;
    backdrop-filter: blur(6px);
}

.latest-main h1.title {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.latest-news .item {
    box-shadow: none;
}

.latest-news .slick-slide {
    padding: 0 25px;
}

.latest-news .content {
    padding: 0;
    padding-top: 20px;
}

.latest-news .content h2 {
    margin-bottom: 10px;
}

.latest-news .content p {
    opacity: 0.8;
    color: #e0daf8;
}

.latest-news .slick-prev:before,
.latest-news .slick-next:before {
    font-size: 35px;
}

.latest-news .slick-prev {
    left: -38px;
}

.news.detail .space {
    align-items: flex-start;
}

/* Video record */
.record-video {
    position: relative;
    height: 600px;
    width: 100%;
}

.record-video #video {
    height: 100%;
    width: 100%;
    background: #000;
}

.record-video .start-btn,
.record-video .stop-btn {
    position: absolute;
    bottom: 40px;
    height: 36px;
    width: 36px;
    background: #fff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.record-video .start-btn::after,
.record-video .stop-btn::after {
    content: "";
    height: 62px;
    width: 62px;
    background: none;
    border: 2px solid #fff;
    display: block;
    border-radius: 50%;
    bottom: 13px;
    right: 13px;
    position: relative;
}

.record-video .stop-btn {
    background: red;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
.v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
.v-data-table>.v-data-table__wrapper>table>thead>tr>td {
    font-size: 16px;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
.v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    font-size: 14px;
}

.mowtit {
    font-size: 20px;
    position: relative;
    padding-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.mowtit::after {
    content: "";
    position: absolute;
    height: 22px;
    border-radius: 50px;
    width: 4px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #37ffac;
}

.mowtit.big-title {
    width: max-content;
    margin: 0 auto;
    font-size: 28px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.big-title::after {
    height: 36px;
    width: 6px;
}

.v-tabs {
    width: auto !important;
}

.price-up {
    color: #0fd892;
    position: relative;
    padding-left: 15px;
}

.price-up::after,
.price-down::after {
    content: "↑";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
}

.price-down {
    color: #f6465d;
    position: relative;
    padding-left: 15px;
}

.price-down::after {
    content: "↓";
}

.down-color {
    color: #f6465d;
}

.up-color {
    color: #0fd892;
}

.table-image {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.gold-price .price-down,
.gold-price .price-up {
    font-size: 13px;
    padding-left: 12px;
}

.v-data-table td {
    font-size: 14px !important;
}

.banner video {
    height: 450px;
    width: 600px;
    object-fit: cover;
}

.theme--dark.v-pagination .v-pagination__item--active {
    color: #000211;
}

.vertical-news .image img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    transition: all 200ms;
}

.vertical-news h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.vertical-news .content span {
    font-size: 14px;
    color: #37ffac;
}

.vertical-news .item-news {
    cursor: pointer;
    position: relative;
}

.vertical-news .content {
    position: absolute;
    top: 0;
    left: 175px;
}

.vertical-news .image {
    overflow: hidden;
    width: 160px;
    height: 90px;
    border-radius: 8px;
}

.vertical-news .item-news:hover img {
    transform: scale(1.1);
}

.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: #ffffff20;
}

.planet,
.earth {
    transform: rotate(220deg);
    z-index: -1;
    border-radius: 50%;
    position: absolute;
}

.planet {
    height: 600px;
    width: 600px;
    background: linear-gradient(to bottom, rgba(48, 34, 111, 1) 0%, rgba(35, 25, 80, 1) 5%, rgba(27, 19, 62, 1) 8%, rgba(20, 16, 48, 1) 13%, rgba(17, 13, 40, 1) 17%, rgba(12, 9, 29, 1) 51%, rgba(12, 10, 30, 1) 78%, rgba(16, 12, 36, 1) 100%);
    bottom: -100px;
    left: 200px;
    opacity: 48% !important;
}

.earth {
    height: 1200px;
    width: 1200px;
    background: linear-gradient(to bottom, rgba(27, 41, 72, 1) 0%, rgba(31, 49, 79, 1) 0%, rgba(20, 25, 52, 1) 10%, #000211 36%, #000211 52%, #000211 100%);
    right: -100px;
    top: 0;
    opacity: 32% !important;
}

.bgr-planet {
    opacity: 0.8;
    content: close-quote;
    width: 1500px;
    height: 840px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url("/img/home/bgr-planet.svg");
    z-index: -2;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.pd-top {
    padding-top: 60px;
}

.foot-logo img:nth-child(2) {
    display: none;
}

.v-list-item {
    font-size: 14px;
    font-weight: 500;
}

.v-list-item img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.v-data-table-footer {
    display: none !important;
}

.p2p-title {
    font-size: 14px;
}

.exchange .v-select__selection-text {
    text-transform: uppercase;
    font-size: 14px;
}

.v-field__append-inner .mdi-magnify {
    font-size: 25px;
}

.exchange .v-field__append-inner {
    padding-top: 12px;
}

.banner h1 {
    text-align: center;
    font-size: 86px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, #0099ff 19%, transparent 19%, transparent 20%, #37ffac 20%, #37ffac 39%, transparent 39%, transparent 40%, #0099ff 40%, #0099ff 59%, transparent 59%, transparent 60%, #37ffac 60%, #37ffac 79%, transparent 79%, transparent 80%, #0099ff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 5px;
    font-weight: 500;
    font-family: 'Luckiest Guy', cursive;
}

.banner p {
    font-size: 32px;
    color: #fff;
    letter-spacing: 2px;
}

.banner {
    height: 70vh;
    min-height: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.bannerfix {
    background: url("/img/banner.jpg") center bottom;
    background-size: cover;
    height: 80vh;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    opacity: 0.2;
    box-shadow: inset 0 -100px 50px -50px #161f2d;
}

.bgr-all {
    position: relative;
    width: 100%;
    background-color: #ffffff05;
    padding: 60px 0;
}

.bgr-all:before,
.bgr-all:after {
    content: "";
    position: absolute;
    width: 0;
}

.bgr-all:before {
    bottom: 100%;
    animation: changeBgr1 1.5s alternate infinite ease-in-out;
}

.bgr-all:after {
    top: 100%;
    width: 0;
    border-top: 60px solid #ffffff05;
    animation: changeBgr2 2s alternate infinite ease-in-out;
}

@keyframes changeBgr1 {
    0% {
        border-left: 40vw solid transparent;
        border-right: 59vw solid transparent;
        border-bottom: 0px solid #ffffff05;
    }

    100% {
        border-left: 59vw solid transparent;
        border-right: 40vw solid transparent;
        border-bottom: 60px solid #ffffff05;
    }
}

@keyframes changeBgr2 {
    0% {
        border-left: 60vw solid transparent;
        border-right: 30vw solid transparent;
        border-top: 60px solid #ffffff05;
    }

    100% {
        border-left: 30vw solid transparent;
        border-right: 60vw solid transparent;
        border-top: 0px solid #ffffff05;
    }
}

.mexc{
    padding: 0 40px;
    border-radius: 12px;
    box-shadow: 3px 3px 12px #0f1d2c, -3px -3px 12px #152536;
    text-align: center;
}
.mexc img{
    height: 200px;
}